@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html {background-color: black;}


* {
    margin:0;
    padding:0;
    color: white
}

.background {
    position: relative;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    object-fit: cover;
    margin-bottom: 50px;
  }
  
  .title {
    font-family: Lato;
    position: absolute;
    bottom: 5vh;
    left: 20px;
    font-size: 100px;
  }


.header {
    font-family: Lato;
    font-size: 40px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.paragraph {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 22px;
}

.paragraph p {
    font-family: Lato;
    font-size: 20px;
    text-align: center;
}

.paragraph a {
    text-decoration: none;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
}

.paragraph a:hover {
    color: red;
    transition: 1s;
}

hr {
    width: 60%;
    margin: auto;
    opacity: 0.7;
}

